 
h1
{
	font-weight: 300;
	font-family: 'Comic Sans MS', cursive, sans-serif;
	font-size: 30px;
	line-height: 50px;
	color:  #cb202d;
	margin: 0;
  padding: 0 0 0 40px;
	background-repeat:no-repeat;
	
	}
main{
  width: 110%;
	float: left;
  margin: 0 0 0 -2em;
  min-height: 550px;
	background-color:#ffe6cc;
}
li.cities a{
float: left;
    padding: -1  20px;
    font-size: 20px;
    margin: 10px 10px 10px 15px;
     border-radius: 6px;
    box-shadow: 0 2px 3px black;
    border: 1px solid #fff;
    border-color: rgba(255,255,255,.25);
}

li.cities img{
    width: 350px;
    height: 170px;
    opacity: 0.9;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 6px;
	padding: 15px;
}
li.cities img:hover{
	opacity: 0.5;
 
}
p.city_name{
	position: absolute;
	font-size:25px;
	top:0 ; 
	right:50; 
	padding: 25px;
	margin:70px;
    color: White;
    font-weight: bold;

}
p.city_name:hover{
	
	font-size:30px;

}
div.search {
	
    float: right;
    width: 100px;
    height: 95px;
    
}
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #cb202d;
    position: relative;
    bottom:0;
    width: 100%;
	
}

li.listtab {
    float: left;
}

li.listtab a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.listtab a:hover:not(.active) {
    background-color: #ff6666;
}

.active {
    background-color: #ff6666;
}
   

li.listtab {
    float: left;
}

li.listtab a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


footer{
	bottom: 0;
background:#cb202d;
font-family:"Times New Roman";
font-size: 15px;
color: white;
 clear: both;
 

    }
	.footer{float:right;
	padding: 14px 16px;}
